$dark: #2d4d74;
$semilight: #76bfce;
$light: #f1ffff;
$darkest: #152826;
$reddish: #c6361c;

.navigation {
  position: relative;

  button {
    position: absolute;
    left: 3rem;
    display: inline-block;
    // because the header is 3rem high
    top: calc(1rem + 3rem);
    z-index: 100;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;

    & > div.line {
      height: 0.2rem;
      width: 1.7rem;
      width: 30px;
      height: 4px;
      background-color: black;
      margin: 6px 0;
      transition: transform 0.5s, -webkit-transform 0.5s;

      &.off.bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      &.off.bar2 {
        opacity: 0;
      }

      &.off.bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
}

#sidebar {
  position: fixed;
  overflow: hidden;
  height: 100%;
  background-color: $dark;
  color: $light;
  transform: translate(0);
  width: 10rem;
  padding: 1rem;
  transition: transform 0.5s;

  &.hide {
    transform: translate(-100%);
  }

  & ul {
    margin-top: calc(1rem + 3rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
  }

  & ul li {
    display: block;
    cursor: pointer;
    margin: 0.5rem 0;
    // border-top:1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0;
    width: 100%;
  }

  & ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: $light;
  }
}

@media screen and (max-width: 450px) {
  .navigation button {
    left: 2rem;
  }

}